@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1903743_dfwt5toyihn.ttf') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 36rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconback:before {
    content: '\e626';
}

.iconsearch:before {
    content: '\e625';
}

.icondel:before {
    content: '\e624';
}

.iconpulldown:before {
    content: '\e61f';
}

.iconface:before {
    content: '\e61d';
}

.icontime:before {
    content: '\e61c';
}

.iconfail:before {
    content: '\e61b';
}

.iconsuccess:before {
    content: '\e61a';
}

.iconqa:before {
    content: '\e618';
}

.iconshare:before {
    content: '\e617';
}

.iconmine:before {
    content: '\e616';
}

.iconorder:before {
    content: '\e615';
}

.iconcategory:before {
    content: '\e610';
}

.iconhome:before {
    content: '\e60e';
}

.iconmobile:before {
    content: '\e60d';
}

.iconqrcode:before {
    content: '\e60a';
}

.iconvoucher:before {
    content: '\e609';
}

.iconphone:before {
    content: '\e608';
}

.iconconfirm:before {
    content: '\e607';
}

.icondelete:before {
    content: '\e606';
}

.iconxiaochengxu:before {
    content: '\e601';
}

.iconshouqi:before {
    content: '\e604';
}

.iconzhankai:before {
    content: '\e605';
}

.icondiwei:before {
    content: '\e603';
}

.icongengduo:before {
    content: '\e602';
}
