<view class="content">
    <view class="order_info">
        <view class="order_table">
            <view class="table_left">
                <view class="table_bar radius_top_left">
                    <label>地区</label>
                </view>
                <view class="table_bar" v-for="(item,index) in allSaleProvinceInfo" :key="index">
                    <label>{{item.province}}</label>
                </view>
            </view>
            <view class="table_right">
                <scroll-view class="" show-scrollbar="true" scroll-x="true" scroll-y="false" upper-threshold="50"
                    lower-threshold="50" scroll-top="0" scroll-left="0" scroll-into-view=""
                    scroll-with-animation="false" enable-back-to-top="false">
                    <view class="table_content">
                        <view class="table_title">
                            <view>
                                <label>店铺数量</label>
                            </view>
                            <view>
                                <label>总销售额</label>
                            </view>
                            <view>
                                <label>店均销售</label>
                            </view>
                            <view>
                                <label>订单总数</label>
                            </view>
                            <view>
                                <label>订单占比</label>
                            </view>
                            <view>
                                <label>线上订单</label>
                            </view>
                            <view>
                                <label>线上订单占比</label>
                            </view>
                            <view class="radius_top_right">
                                <label>客单价</label>
                            </view>
                        </view>
                        <view class="table_val" v-for="(item,index) in allSaleProvinceInfo" :key="index">
                            <view><text>{{item.storeNumber | moneyFormatFilter}}</text></view>
                            <view><text>{{item.sales | moneyFormatFilter}}</text></view>
                            <view><text>{{item.averageStoreSales | moneyFormatFilter}}</text></view>
                            <view><text>{{item.orderNumber | moneyFormatFilter}}</text></view>
                            <view><text>{{item.orderAccounted}}</text></view>
                            <view><text>{{item.onlineOrderNumber | moneyFormatFilter}}</text></view>
                            <view><text>{{item.onlineOrderAccounted}}</text></view>
                            <view :class="index == 3 ? 'radius_bottom_right' : '' ">
                                <text>{{item.perCustomerTransaction}}</text></view>
                        </view>

                    </view>
                </scroll-view>
            </view>
        </view>
    </view>
</view>