.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .notes{
        padding:20rpx 30rpx;
        border:2rpx solid #ddd;
        box-sizing: border-box;
        border-radius: 10rpx;
        font-size:24rpx;
        position: absolute;
        z-index:999;
        background:#fff;
        display: none;
    }
    .on{
        display: block;
    }
}
