.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .channel_wrapper {
        width: 100%;
        padding: 0 30rpx;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .channel_menu {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .channel_item {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                label {
                    width: 20rpx;
                    height: 20rpx;
                    border-radius: 10rpx;
                }
                text {
                    font-size: 24rpx;
                    margin-left: 10rpx;
                }
            }
        }
    }
    .consume_wrapper {
        width: 100%;
        padding: 0 30rpx;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .consume_menu {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .consume_item {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                label {
                    width: 20rpx;
                    height: 20rpx;
                    border-radius: 10rpx;
                }
                text {
                    font-size: 24rpx;
                    margin-left: 10rpx;
                }
            }
        }
    }
    .customer_rate {
        width:100%;
        padding:0 30rpx;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 30rpx 0;
        .customer_rate_lis {
            width: 20%;
            height: 100rpx;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0 10rpx 24rpx 0 #e3edfc;
            border-radius: 10rpx;
            position: relative;
            text {
                font-size: 28rpx;
                color: #e60c0c;
                font-weight: 600;
            }
            label {
                font-size: 24rpx;
                font-weight: 600;
            }
            image{
                width:40rpx;
                height:40rpx;
                position: absolute;
                right:-10rpx;
                top:0rpx;
            }
            
        }
    }
    .showPieChart canvas {
        width: 350rpx;
        height: 350rpx;
    }
    .showRingChart canvas {
        width: 350rpx;
        height: 350rpx;
    }
}
