<view class="content">
    <view class="flex">
        <view class="header">
            <view class="time_slot">
                <view class="time_wrapper">
                    <view class="select_time">
                        <view class="select_pattern">
                            <radio-group @change="radioChange" class="radio_group">
                                <label
                                    class="uni-list-cell uni-list-cell-pd radio_flex"
                                    v-for="(item, index) in pattern"
                                    :key="item.id"
                                >
                                    <view>
                                        <radio :value="item.id" :checked="item.id == timeType" />
                                    </view>
                                    <view class="model">{{item.name}}</view>
                                </label>
                            </radio-group>
                        </view>
                        <!-- <text class="iconfont icongengduo"></text> -->
                    </view>
                </view>
                <view class="refresh" @click="refreshData">
                    <image src="../../static/images/icon/refresh.png"></image>
                    <text>回到当前</text>
                </view>
            </view>
            <view class="tab_time_wrapper">
                <view class="current_time">
                    <view v-if="timeType == 2" @click="selectDatePattern(1)" class="current_time_text">
                        <text>{{currentDate}}</text>
                        <image src="../../static/images/icon/drop-down.png" :class="showCalendar ? 'show_up' : ''">
                        </image>
                    </view>
                    <view class="uni-list-cell-db" v-else>
                        <picker
                            @change="timeSlotChange"
                            @columnchange="columnchange"
                            :value="index"
                            :range="[lastMonth,startTimePoint,endTimePoint]"
                            mode="multiSelector"
                            @click="selectTimeSlot"
                            @cancel="cancelTimeSlot"
                        >
                            <view class="current_time_text">
                                <text>{{currentTime}}</text>
                                <image
                                    src="../../static/images/icon/drop-down.png"
                                    :class="showTimeSlot ? 'show_up' : ''"
                                ></image>
                            </view>
                        </picker>
                    </view>
                </view>
            </view>
            <view class="sales_volume">
                <view class="sales_num">
                    {{salesCountInfo.totalSales | moneyFormatFilter}}
                </view>
                <view class="sales_text">
                    <image src="../../static/images/mony_number.png"></image>
                    <text>总销售额</text>
                </view>
            </view>
            <view class="other_volume">
                <view class="sales_text">
                    <view class="lastweek">
                        <text :class="salesCountInfo.type == -1 ? 'down' : ''"
                            >{{salesCountInfo.comparedLastWeek}}</text
                        >
                        <image src="../../static/images/icon/green_down.png" v-if="salesCountInfo.type == -1"></image>
                        <image src="../../static/images/icon/red_up.png" v-if="salesCountInfo.type == 1"></image>
                    </view>
                    <label>同比上周</label>
                </view>
                <view class="sales_text">
                    <text>{{salesCountInfo.businessShop | moneyFormatFilter}}</text>
                    <label>在营门店</label>
                </view>
            </view>
        </view>
        <view class="report_area">
            <view class="report_title">锅圈运营报告</view>
            <view class="report_menu">
                <view
                    :class="[index == current ? 'active' : '','report_lis']"
                    v-for="(item,index) in reportText"
                    :key="index"
                    @click="switchTab"
                    :data-id="index"
                    >{{item}}</view
                >
            </view>
        </view>
        <view class="body_container">
            <view class="report_content">
                <view :class="[current == 0 ? 'show' : '','order']">
                    <view class="order_info">
                        <view class="order_count">
                            <image webp :src="getImg('order_bg1')"></image>
                            <label>总订单数</label>
                            <view class="contrast_yes">
                                <text>{{orderInfo.totalOrderQuantity | moneyFormatFilter}}</text>
                            </view>
                        </view>
                        <view class="order_count">
                            <image webp :src="getImg('order_bg2')"></image>
                            <label>对比上周</label>
                            <view class="contrast_yes">
                                <text>{{orderInfo.comparedLastWeek}}</text>
                                <image
                                    src="../../static/images/icon/white_down.png"
                                    class="white_arrow"
                                    v-if="orderInfo.type == -1"
                                ></image>
                                <image
                                    src="../../static/images/icon/white_up.png"
                                    class="white_arrow"
                                    v-if="orderInfo.type == 1"
                                ></image>
                            </view>
                        </view>
                        <view class="order_count">
                            <image webp :src="getImg('order_bg3')"></image>
                            <label>店均订单数</label>
                            <view class="contrast_yes">
                                <text>{{orderInfo.shopAvgOrderQuantity | moneyFormatFilter}}</text>
                            </view>
                        </view>
                        <view class="order_count">
                            <image webp :src="getImg('order_bg4')"></image>
                            <label>店均销售额</label>
                            <view class="contrast_yes">
                                <text>{{orderInfo.shopAvgTurnover | moneyFormatFilter}}</text>
                            </view>
                        </view>
                    </view>
                    <view class="order_chart">
                        <view class="showBarChart" :style="'height:' + cHeight + 'px' ">
                            <canvas
                                :class="showCalendar ? 'hide_calendar' : ''"
                                canvas-id="showBarChart"
                                id="showBarChart"
                                @touchstart="touchColumn"
                                :style="'height:' + cHeight + 'px' "
                            ></canvas>
                        </view>
                    </view>
                    <view class="order_table">
                        <view class="table_left">
                            <view class="table_bar radius_top_left">
                                <label>订单类型</label>
                            </view>
                            <view class="table_bar">
                                <label>线上订单</label>
                            </view>
                            <view class="table_bar radius_bottom_left">
                                <label>线下订单</label>
                            </view>
                            <!-- <view class="table_bar radius_bottom_left">
                                <label>渠道订单</label>
                            </view> -->
                        </view>
                        <view class="table_right">
                            <scroll-view
                                class=""
                                show-scrollbar="true"
                                scroll-x="true"
                                scroll-y="false"
                                upper-threshold="50"
                                lower-threshold="50"
                                scroll-top="0"
                                scroll-left="0"
                                scroll-into-view=""
                                scroll-with-animation="false"
                                enable-back-to-top="false"
                            >
                                <view class="table_content">
                                    <view class="table_title">
                                        <view>
                                            <label>订单数量</label>
                                            <text>(个)</text>
                                        </view>
                                        <view>
                                            <label>销售总额</label>
                                            <text>(元)</text>
                                        </view>
                                        <view>
                                            <label>客单价</label>
                                            <text>(元)</text>
                                        </view>
                                        <view>
                                            <label>订单数占比</label>
                                        </view>
                                        <view>
                                            <label>销售额占比</label>
                                        </view>
                                        <view>
                                            <label>周同比</label>
                                        </view>
                                        <view>
                                            <label>月同比</label>
                                        </view>
                                        <view class="radius_top_right">
                                            <label>比昨日</label>
                                        </view>
                                    </view>
                                    <view
                                        v-for="(item, index) in orderAnalysis"
                                        :key="index"
                                        v-if="index < 2"
                                        :class="[index == 1 ? 'color' : '' , 'table_val']"
                                    >
                                        <view><text>{{item.totalOrder | moneyFormatFilter}}</text></view>
                                        <view><text>{{item.totalSales | moneyFormatFilter}}</text></view>
                                        <view><text>{{item.perCustomerTransaction | moneyFormatFilter}}</text></view>
                                        <view><text>{{item.orderProportion}}</text></view>
                                        <view><text>{{item.salesProportion}}</text></view>
                                        <view><text>{{item.comparedLastWeek}}</text></view>
                                        <view><text>{{item.comparedLastMont}}</text></view>
                                        <view :class="index == 1 ? 'radius_bottom_right' : '' ">
                                            <text>{{item.comparedYesterday}}</text>
                                        </view>
                                    </view>
                                </view>
                            </scroll-view>
                        </view>
                    </view>
                </view>
                <view :class="[current == 1 ? 'show' : '','customer']">
                    <view class="customer_info">
                        <view class="customer_count">
                            <image webp :src="getImg('customer_bg5')"></image>
                            <label>总会员数</label>
                            <text>{{memberInfo.totalMemberNumber | moneyFormatFilter}}</text>
                        </view>
                        <view class="customer_count">
                            <image webp :src="getImg('order_bg2')"></image>
                            <label>总客户数</label>
                            <text>{{memberInfo.totalClientNumber | moneyFormatFilter}}</text>
                        </view>
                    </view>
                    <view class="customer_rate">
                        <view class="customer_rate_lis">
                            <text>{{memberRetainedInfo.weeksRetentionRates}}</text>
                            <label>周留存率</label>
                        </view>
                        <view class="customer_rate_lis">
                            <text>{{memberRetainedInfo.monthRetentionRates}}</text>
                            <label>月留存率</label>
                        </view>
                        <view class="customer_rate_lis">
                            <text>{{memberRetainedInfo.weeksRepurchaseRates}}</text>
                            <label>周复购率</label>
                        </view>
                        <view class="customer_rate_lis">
                            <text>{{memberRetainedInfo.monthRepurchaseRates}}</text>
                            <label>月复购率</label>
                        </view>
                    </view>

                    <view class="showPieChart" :style="'height:' + cHeight + 'px' ">
                        <canvas
                            :class="showCalendar ? 'hide_calendar' : ''"
                            canvas-id="showPieChart"
                            id="showPieChart"
                            @touchstart="touchPie"
                            :style="'height:' + cHeight + 'px' "
                        ></canvas>
                    </view>

                    <view class="customer_table">
                        <view class="table_left">
                            <view class="table_bar radius_top_left">
                                <label>客户类型</label>
                            </view>
                            <!-- <view class="table_bar">
                                <label>新会员</label>
                            </view> -->
                            <view class="table_bar">
                                <label>新客户</label>
                            </view>
                            <view class="table_bar radius_bottom_left">
                                <label>老客户</label>
                            </view>
                        </view>
                        <view class="table_right">
                            <scroll-view
                                class=""
                                show-scrollbar="true"
                                scroll-x="false"
                                scroll-y="false"
                                upper-threshold="50"
                                lower-threshold="50"
                                scroll-top="0"
                                scroll-left="0"
                                scroll-into-view=""
                                scroll-with-animation="false"
                                enable-back-to-top="false"
                            >
                                <view class="table_content">
                                    <view class="table_title">
                                        <view>
                                            <label>会员数量</label>
                                            <text>(个)</text>
                                        </view>
                                        <view>
                                            <label>订单占比</label>
                                        </view>
                                        <view>
                                            <label>销售占比</label>
                                        </view>
                                        <view class="radius_top_right">
                                            <label>客单价</label>
                                            <text>(元)</text>
                                        </view>
                                    </view>
                                    <view
                                        v-for="(item, index) in memberInfo.memberOrderAnalysisList"
                                        :key="index"
                                        v-if="index > 0"
                                        :class="[index == 1 ? 'color' : '' , 'table_val']"
                                    >
                                        <view><text>{{item.memberNumber | moneyFormatFilter}}</text></view>
                                        <view><text>{{item.orderProportion}}</text></view>
                                        <view><text>{{item.salesProportion}}</text></view>
                                        <view :class="index == 2 ? 'radius_bottom_right' : '' ">
                                            <text>{{item.perCustomerTransaction | moneyFormatFilter}}</text></view
                                        >
                                    </view>
                                </view>
                            </scroll-view>
                        </view>
                    </view>
                </view>
                <view :class="[current == 2 ? 'show' : '','conversion']">
                    <view class="conversion_info">
                        <view class="conversion_count">
                            <image webp :src="getImg('order_bg3')"></image>
                            <label>订单转化率</label>
                            <view class="contrast_yes">
                                <text>{{conversionInfo.orderConversion}}</text>
                            </view>
                        </view>
                        <view class="conversion_count">
                            <image webp :src="getImg('order_bg2')"></image>
                            <label>同比上周</label>
                            <view class="contrast_yes">
                                <text>{{conversionInfo.comparedLastWeek}}</text>
                                <image
                                    src="../../static/images/icon/white_down.png"
                                    class="white_arrow"
                                    v-if="conversionInfo.type == -1"
                                ></image>
                                <image
                                    src="../../static/images/icon/white_up.png"
                                    class="white_arrow"
                                    v-if="conversionInfo.type == 1"
                                ></image>
                            </view>
                        </view>
                    </view>
                    <view class="conversion_chart">
                        <view class="showBarChart0" :style="'height:' + cHeight + 'px' ">
                            <canvas
                                :class="showCalendar ? 'hide_calendar' : ''"
                                canvas-id="showBarChart0"
                                id="showBarChart0"
                                @touchstart="touchColumn0"
                                :style="'height:' + cHeight + 'px' "
                            ></canvas>
                        </view>
                    </view>

                    <view class="conversion_table">
                        <view class="table_left">
                            <view class="table_bar radius_top_left">
                                <label>数量类型</label>
                            </view>
                            <view class="table_bar">
                                <label>商城访问数</label>
                            </view>
                            <view class="table_bar">
                                <label>创建订单数</label>
                            </view>
                            <view class="table_bar">
                                <label>支付订单数</label>
                            </view>
                            <view class="table_bar radius_bottom_left">
                                <label>支付客户数</label>
                            </view>
                        </view>
                        <view class="table_right">
                            <scroll-view
                                class=""
                                show-scrollbar="true"
                                scroll-x="true"
                                scroll-y="false"
                                upper-threshold="50"
                                lower-threshold="50"
                                scroll-top="0"
                                scroll-left="0"
                                scroll-into-view=""
                                scroll-with-animation="false"
                                enable-back-to-top="false"
                            >
                                <view class="table_content">
                                    <view class="table_title">
                                        <view>
                                            <label>数量</label>
                                            <text>(个)</text>
                                        </view>
                                        <view>
                                            <label>比昨日</label>
                                        </view>
                                        <view>
                                            <label>周同比</label>
                                        </view>
                                        <view class="radius_top_right">
                                            <label>转化率</label>
                                        </view>
                                    </view>
                                    <view
                                        v-for="(item , index) in conversionInfo.conversionAnalysis"
                                        :key="index"
                                        :class="[index == 1 || index == 3 ? 'color' : '' , 'table_val']"
                                    >
                                        <view><text>{{item.number | moneyFormatFilter}}</text></view>
                                        <view><text>{{item.comparedYesterday}}</text></view>
                                        <view><text>{{item.comparedLastWeek}}</text></view>
                                        <view :class="index == 3 ? 'radius_bottom_right' : '' ">
                                            <text>{{item.percentConversion}}</text></view
                                        >
                                    </view>
                                </view>
                            </scroll-view>
                        </view>
                    </view>
                </view>
                <view :class="[current == 3 ? 'show' : '','activity']">
                    <view class="activity_type">
                        <view class="uni-list-cell-db">
                            <picker
                                class=""
                                mode="selector"
                                :range="activityList"
                                :value="index"
                                @change="selectActivity"
                            >
                                <view class="drop_down">
                                    <text>选择活动</text>
                                    <image src="../../static/images/icon/drop_down0.png"></image>
                                </view>
                            </picker>
                        </view>
                        <view
                            class="activity_name"
                            v-for="(item,index) in activityMenu"
                            :key="index"
                            v-if="item.activityId === activityId"
                        >
                            <image src="../../static/images/broadcast.png"></image>
                            <text>{{item.activityTitle}}</text>
                            <label class="isGoing" v-if="item.activityTitle == '进行中'">{{item.activityStatus}}</label>
                            <label v-else>{{item.activityStatus}}</label>
                        </view>
                    </view>

                    <view class="showCurveChart" :style="'height:' + cHeight + 'px' ">
                        <canvas
                            :class="showCalendar ? 'hide_calendar' : ''"
                            canvas-id="showCurveChart"
                            id="showCurveChart"
                            @touchstart="touchArea"
                            :style="'height:' + cHeight + 'px' "
                        ></canvas>
                    </view>
                    <view class="activity_info">
                        <view class="activity_count">
                            <image webp :src="getImg('order_bg1')"></image>
                            <label>累计销售额</label>
                            <text>{{activitySalesInfo.cumulativeSales | moneyFormatFilter}}</text>
                        </view>
                        <view class="activity_count">
                            <image webp :src="getImg('order_bg4')"></image>
                            <label>累计活动销售额</label>
                            <text>{{activitySalesInfo.cumulativeActivitySales | moneyFormatFilter}}</text>
                        </view>
                    </view>
                    <view class="activity_info_other">
                        <view class="activity_count">
                            <label>累计订单数：</label>
                            <text>{{activitySalesInfo.cumulativeOrderNumber | moneyFormatFilter}}</text>
                        </view>
                        <view class="activity_count">
                            <label>新增会员数：</label>
                            <text>{{activitySalesInfo.newMember | moneyFormatFilter}}</text>
                        </view>
                        <view class="activity_count">
                            <label>累计访问数：</label>
                            <text>{{activitySalesInfo.cumulativeAccessNumber | moneyFormatFilter}}</text>
                        </view>
                        <view class="activity_count">
                            <label>新增客户数：</label>
                            <text>{{activitySalesInfo.newCustomer | moneyFormatFilter}}</text>
                        </view>
                    </view>
                    <view class="activity_ranking">
                        <view class="activity_count">
                            <image src="../../static/images/ranking.png"></image>
                            <label>地区销售榜首</label>
                            <text>{{activitySalesRanking.topSales}}</text>
                        </view>
                        <view class="activity_count">
                            <image src="../../static/images/ranking.png"></image>
                            <label>地区订单榜首</label>
                            <text>{{activitySalesRanking.topOrder}}</text>
                        </view>
                    </view>
                    <view class="activity_contrast">
                        <view class="contrast_header">
                            <view class="contrast_title">定向对比</view>
                            <view class="contrast_date_time" v-if="contrastDate.length != 0"
                                >{{contrastDate[0]}} 和 {{contrastDate[1]}}</view
                            >
                            <view class="contrast_date_text" @click="selectDatePattern(2)">选择日期</view>
                        </view>
                        <view class="activity_table" v-if="contrastDate.length != 0">
                            <view class="table_left">
                                <view class="table_bar radius_top_left">
                                    <label>类型</label>
                                </view>
                                <view class="table_bar">
                                    <label>销售额</label>
                                </view>
                                <view class="table_bar">
                                    <label>订单数</label>
                                </view>
                                <view class="table_bar">
                                    <label>新增会员</label>
                                </view>
                                <view class="table_bar radius_bottom_left">
                                    <label>新增客户</label>
                                </view>
                            </view>
                            <view class="table_right">
                                <scroll-view
                                    class=""
                                    show-scrollbar="true"
                                    scroll-x="false"
                                    scroll-y="false"
                                    upper-threshold="50"
                                    lower-threshold="50"
                                    scroll-top="0"
                                    scroll-left="0"
                                    scroll-into-view=""
                                    scroll-with-animation="false"
                                    enable-back-to-top="false"
                                >
                                    <view class="table_content">
                                        <view class="table_title">
                                            <view>
                                                <label>{{contrastDate[0]}}</label>
                                            </view>
                                            <view>
                                                <label>{{contrastDate[1]}}</label>
                                            </view>
                                            <view class="radius_top_right">
                                                <label>增长率</label>
                                            </view>
                                        </view>
                                        <view
                                            v-for="(item , index) in comparisonSalesInfo"
                                            :key="index"
                                            :class="[index == 1 || index == 3 ? 'color' : '' , 'table_val']"
                                        >
                                            <view><text>{{item.preComparisonNumber | moneyFormatFilter}}</text></view>
                                            <view><text>{{item.afterComparisonNumber | moneyFormatFilter}}</text></view>
                                            <view :class="index == 3 ? 'radius_bottom_right' : '' ">
                                                <text>{{item.proportion}}</text></view
                                            >
                                        </view>
                                    </view>
                                </scroll-view>
                            </view>
                        </view>
                    </view>
                </view>
            </view>
        </view>
        <u-calendar
            v-model="showCalendar"
            mode="range"
            @change="changeCalendar"
            :max-date="getMaxDate"
            @changeFirstDate="changeFirstDate"
        ></u-calendar>
    </view>
</view>
